
{% load crispy_forms_tags %}
{% csrf_token %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INTELLCAP|STAGE Clone</title>
    	<link rel="shortcut icon" href="assets/images/logo10.png">

    <link rel="stylesheet" href="assets\css\upload.css" />
    
      <link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/style3.css" />
  <link rel="stylesheet" href="assets\css\alert.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">    
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style2.css" />
    <link rel="stylesheet" href="assets/css/alert.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/atelier.css" />
	<style> 
  .user__avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;}
  
	.calendar {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: #f9f9f9;
        }
        .calendar input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 5px;
        }
        .calendar .selected {
            background-color: #e1f5fe;
        }
      
        h1 {
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"],
        select {
            padding: 8px;
            border-radius: 4px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        
        .feature {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 4px;
            background-color: #f7f7f7;
        }
        .feature h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .feature p {
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
  </head>
  <body>
    <!-- header starts -->


    
















    <div class="header">
      <div class="header__left">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
      </div>

      
       
       
     


            
              <div class="header__middle">
          
            <div class="header__input" >
                <span class="material-icons"> search </span><input type="text" placeholder="Search E-ART" />

              </div>       
              

        <div class="header__option">
          <span class="material-icons" > <a href="atelier.html">explore</a> </span>
          
        </div>
        
        <select id="location-filter" name="location">
          <option value="">Domaine</option>
          <option value="new-york">5-8 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9kfdvmdf-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-1vdkmlv2 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12mvdddddd Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>

          <option value="chicago">12+ Weeks</option>
          <!-- Add more options as needed -->
        </select>
        <select id="location-filter" name="location">
          <option value="">Sous-Domaine</option>
          <option value="new-york">5-8 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="chicago">12+ Weeks</option>
          <!-- Add more options as needed -->
        </select>
        <select id="location-filter" name="location">
          <option value="">Période</option>
          <option value="new-york">5-8 Weeks </option>
          <option value="los-angeles">9-12 Weeks </option>
          <option value="chicago">12+ Weeks</option>
          <!-- Add more options as needed -->
        </select>


        <div class="header__option">`

          <span class="material-icons" > <a href="#"  data-toggle="modal" data-target="#myModal" title="" data-original-title="view">bolt</a>
          </span>
          
        </div>  

        <div class="header__option">
        </div>
      </div>

      <div class="header__right">
        <div class="header__info">
          <img
            class="user__avatar"
            src="assets/images/ok.jpg"
            alt=""/>
        <a href="profiles.html"> <strong style="color: blanchedalmond;">&ensp;ELBACHALI MOUAD</strong></a> 
        </div>
        
        <a href="index.html"><span class="material-icons"> logout </span></a>

        
        
      </div>
        
        
      </div>

      <div class="header__right">
        <div class="header__info">
         
        </div>
      
      </div>
    </div>
    <!-- header ends -->



    <!-- main body starts -->
    
    <div class="main__body">
        <html lang="en"><head>
            <meta charset="utf-8">
            
        
            </head>
            <body style="">
            <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
            
            </div>
            </div>
            
            </div>
            <div>
              <a href="#"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3"><i class="bx bx-plus me-1" ></i >add internship</a>
  
          </div>
            <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
            


            <div class="content mt-4">
            <h5 class="title">Fully Responsive</h5>
            <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
            <div class="mt-3">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></a>
            </div>
            </div>
            
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
          
            <div class="content mt-4">
            <h5 class="title">Fresh Layouts</h5>
            <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
            <div class="mt-3">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></a>
            </div>
            </div>
           
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
            
            <div class="content mt-4">
            <h5 class="title">Minimalism Feast</h5>
            <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
            <div class="mt-3">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></a>
            </div>
            </div>
          
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
           
            <div class="content mt-4">
            <h5 class="title">Modern Workflow</h5>
            <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
            <div class="mt-3">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></a>
            </div>
            </div>
           
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
           
            <div class="content mt-4">
            <h5 class="title">Unique Features</h5>
            <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
            <div class="mt-3">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></a>
            </div>
            </div>
          
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card service-wrapper rounded border-0 shadow p-4">
          
            <div class="content mt-4">
            <h5 class="title">Support 24/7</h5>
            <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
            <div class="mt-3">
              <a href="javascript:void(0)"  data-toggle="modal" data-target="#modal"  class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></a>
            </div>
            </div>
            
            </div>
            

            







            </div>
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
              <div class="card service-wrapper rounded border-0 shadow p-4">
            
              <div class="content mt-4">
              <h5 class="title">Support 24/7</h5>
              <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted by the when looking at its layout.</p>
              <div class="mt-3">
               <p > <a href="javascript:void(0)" class="text" style="color: rgb(18, 81, 184);" >Domaines: genie logciel<i class="mdi mdi-chevron-right"></i></a>
                <a href="javascript:void(0)" class="text" style="color: rgb(18, 81, 184);"  >| Sous-Domaine: full-stack<i class="mdi mdi-chevron-right"></i></a>
              
                <a href="javascript:void(0)" class="text" style="color: rgb(18, 81, 184);" >| Periode: 8 semaines<i class="mdi mdi-chevron-right"></i></a>
              </p>
               

              <td>
                <form action="offre.html">
              <button  data-toggle="modal"   class="btn btn-primary" id="3">Postuler<i class="mdi mdi-chevron-right"></i></button></form>
            </td>
              </div>
              </div>
              
              </div>
              
  
              
  
  
  
  
  
  
            </div>
          </div>
          <div class="row g-0 align-items-center pb-4">
            <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing 1 to 10 of 57 entries</p></div>
            </div>
            <div class="col-sm-6">
            <div class="float-sm-end">
            <ul class="pagination mb-sm-0">
            <li class="page-item disabled">
            </li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item">
            </li>
            </ul>
            </div>
            </div>
            </div>
            

            </div>




<!-- Modal HTML Markup -->









<div id="modal" class="modal fade">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          </div>
          <form>
          <div class="modal-body">
                  <div>
                    


<div class="top-margin">
  <label for="membre" class="control-label">Domain</label>
  <div>
      <input id="membre" type="membre" class="form-control" name="membre">
  </div>

  <div class="top-margin">
    <label for="membre" class="control-label">Mission</label>
    <div>
        <input id="membre" type="membre" class="form-control" name="membre">
    </div>

    <div class="top-margin">
      <label for="membre" class="control-label">Description</label>
      <div>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
            <div class="top-margin">
            
              <select id="location-filter" name="location">
                <option value="">Niveau</option>
                <option value="los-angeles">Bac +2 </option>
                <option value="los-angeles">Bac +3 </option>
                <option value="los-angeles">Bac +4 </option>
                <option value="los-angeles">Bac +5  </option>
                <!-- Add more options as needed -->
              </select>
              </div>

              <div class="top-margin">
            
                <select id="location-filter" name="location">
                  <option value="">Periode</option>
                  <option value="los-angeles">Bac +2 </option>
                  <option value="los-angeles">Bac +3 </option>
                  <option value="los-angeles">Bac +4 </option>
                  <option value="los-angeles">Bac +5  </option>
                  <!-- Add more options as needed -->
                </select>
                </div>
  

                  

                  
           
                   





             
                  <div class="form-group">
                      <div>
                       
                          
                      </div>
                  </div>
          </div>

          <button class="file-upload-btn" type="button" >Save</button>
                          
                  </div>
              </form>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







        

                                      
          
                                  


















<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>

  <script>
      
      const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector("mode-text");
   like=document.getElementById("1");

toggle.addEventListener("click" , () =>{
  sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
  sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
  body.classList.toggle("dark");
  
  if(body.classList.contains("dark")){
      modeText.innerText = "Light mode";
  }else{
      modeText.innerText = "Dark mode";
      

  }
});





let button = document.querySelector(".like-button");

button.addEventListener("click", function(e) {
e.preventDefault();
this.classList.toggle("active");


});






  </script>

<script src="js/swiper-bundle.min.js"></script>
<script src="js/style2.js"></script>







  </body>

  <!-- Swiper JS -->
    <!--Uncomment this line-->
  <!--<script src="js/swiper-bundle.min.js"></script>-->

  <!-- JavaScript -->
    <!--Uncomment this line-->
  <!--<-->

<!-- Modal HTML Markup -->


            
            
            
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript">
                
            </script>
            
            </body></html>



      <style>
        .hidden { display: none; }
        .visible { display: block; }
     </style>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <div class="modal-body">
<form>
            <div class="top-margin">
              <label>Resume</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

</div>

<href type="submit" class="btn btn-primary" >
  Save
</href>
  
    </div>
  
  </form>
    
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0"
      nonce="zUxEq08J"



      
    ></script>

    
  
        
       



        </script>

  
   
  </body>
</html>