<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>About</title>
	<link rel="shortcut icon" href="assets/images/logo10.png">



	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li ><a href="index.html">Home</a></li>
					<li class="active"><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>
				<h3>INTELLCAP
				</h3>
				<p><img src="assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > Research & Technology development for Aerospace, Artificial Intelligence (A.I.), Smart Materials, Structures & Systems, Bio-Engineering, Robotics, Environment sensor based tech. (Monitoring Sys. for smart building, Energy Efficiency, Renewables, Water, …).
					IntellCap provides custom design for complex multi-physics problems (e.g. Interactive VR with haptics) and mobile applications (for admin., research, education, …)..</p>
				<h3>Learn a bit more about INTELLCAP
				</h3>
				<p>IntellCap was founded on 2008 by Idriss Ilali (Ph.D. Engineering Sciences, Mechanical Eng. & Aerospace Expert), - who is Idriss Ilali ?

				<p>	The core business of IntellCap is technology innovation in various complex domains, mainly Aeronautics & Space, as well as Artificial Intelligence applied to automotive and interactive communication & smart systems. IntellCap possesses unique capabilities for design, engineering, PoC, prototyping and implementation of fully integrated smart solutions, including complex communication and sensor based systems. Providing hens turnkey solutions to its partners worldwide.</p>
					
				<p>	IntellCap is the owner of several patents in various domains e.g. Interactive VR/Haptics and AR systems, Renewable energy, Smart lighting and Water desalination. IntellCap also benefits from the trust of outstanding partners worldwide, especially in Europe, Morocco and recently Japan.</p>
					
					<p>IntellCap also develops innovative concepts and launches startups in futuristic domains: e.g. A.I. based vehicles ; VR systems for health, industry, education and entertainment.</p>
					
					<p>IntellCap Experts can also provide consulting packages upon request, - Survey, Research, Development, Technology, Design, Prototyping, Patent & IP, Tech. Transfer and Legal Affairs) -</p>
					
					<p>Should you have a special need/request, please Contact us</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				
			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+212 650661302<br>
								<a href="mailto:#">mouad_elbachali@um5.ac.ma</a><br>
								<br>
								
							</p>	
						</div>
					</div>

			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="about.html">About</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; <a href="http://gettemplate.com/" rel="designer"> <script>
									let a= new Date();
									document.write(`${a.getFullYear()}`);
								</script></a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>